
.button{
    height:100px;
    width:100px;
    background-color: #b8e0da;
}

html {
    font-size: 20px;
  
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 60px;
    background-color: #1B1D1E;
  }
  
  h1, h2 {
    color: #ffffff;
  
  }
  
  p {
    color: #fafafad0;
  
  }
  
  /* CSS */
  .button-52 {
  
    color:white;
    font-weight: bolder;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 2px solid rgb(148, 146, 255);
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 25%;
  }
  
  .button-52:after {
    content: "";
    background-color: #4d3c97c2;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-52:hover:after {
    top: 0px;
    left: 0px;
    background-color: #a268ed00;
  }
  
  @media (min-width: 768px) {
    .button-52 {
      padding: 13px 50px 13px;
      margin-top: 20px;
    }
  }